@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variáveis de CSS */
:root {
    --header-height: 3rem;
    --nav-width: 250px;
    --first-color: #ffffff;
    --first-color-light: #000000;
    --white-color: #ffffff;
    --normal-font-size: 1rem;
    --z-fixed: 100;
    --body-font: "Poppins", sans-serif;
}

* {
    font-family: "Poppins", sans-serif;
}

/* Resetando o box-sizing */
*, ::before, ::after {
    box-sizing: border-box;
}

/* Estilo base do corpo */
body {
    position: relative;
    font-family: var(--body-font); /* Usando a fonte importada */
    transition: .5s;
    margin: 0;
    padding: 0;
    }


/* Links */
a {
    text-decoration: none;
}

.artigos-container{
    padding: 0px;
    list-style-type: none; /* Remove as bolinhas da lista */
}

.artigo-item{
    border-radius: 10px;    
    padding: 10px;
    margin-bottom: 10px;    /* Espaço entre os artigos */
    background-color: #ffffff; /* Cor de fundo opcional */
    border: 2px solid rgb(183, 178, 178);
    list-style: none;
    box-shadow: 3px 3px 4px rgb(183, 178, 178);
    transition: transform 0.3s, box-shadow 0.3s; 
}

.artigo-item:hover {
    transform: scale(1.04); /* Aumenta o item levemente */
}

.texto-menor {
    font-size: 15px; /* Tamanho reduzido para o restante do texto */
    color: #555; /* Cor mais clara opcional */
}

/* Cabeçalho */
.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #ffffff;
    z-index: var(--z-fixed);
    transition: .5s;
    box-shadow: 3px 3px 4px rgb(183, 178, 178);
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.header_img img {
    width: 40px;
}


/* Barra lateral */
.l-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background-color: #ffffff;
    padding: 0; /* Removido qualquer padding */
    transition: .5s;
    z-index: var(--z-fixed);
    box-shadow: 3px 3px 4px rgb(183, 178, 178);
}

/* Nav interno da barra lateral */
.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 0; /* Corrigido */
}

.nav_logo, .nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
}

.nav_logo {
    margin-bottom: 2rem;
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color);
}

.nav_logo-name {
    color: #1F4172;
    font-weight: 700;
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s;
}

.nav_link:hover {
    color: #1F4172;
    transform: scale(1.1);
}

.nav_icon {
    font-size: 1.25rem;
}

.nav_logo-img {
  width: 50px; 
  height: 50px;
  white-space: nowrap;
}

/* Mostrar a barra lateral */
.show {
    left: 0;
}

/* Ajustes no corpo ao mostrar a barra lateral */
.body-pd {
    padding-left: calc(var(--nav-width) + 1rem);
}

/* Link ativo */
.active {
    color: var(--black-color);
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color);
}

/* Altura total */
.height-100 {
    height: 100vh;
}

/* Estilos responsivos */
@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }

    .header_img {
        width: 40px;
        height: 40px;
    }

    .header_img img {
        width: 45px;
    }

    .l-navbar {
        left: 0;
        padding: 0;
        margin: 0;
    }

    .show {
        width: calc(var(--nav-width) + 156px);
    }

    .body-pd {
        
        padding-left: var(--nav-width);
    }
    
    .form-container {
        text-align: center;
        
    }

    .height-100 bg-light{
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    
    }

    .artigos-container{
        background-color: #ffffff;
    }

    .container-fluid{
        padding-left: 0;
        margin-left: 0;
        margin-top: calc(var(--header-height) + 40px); 
    }
    

    .additional-container {
       
        padding: 100px;
        
        border-radius: 10px;
        margin-bottom: 20px;
        position: fixed
      }

    .form-control{
        width: 400px;
        border-radius: 10px;
    }

    .container {
        margin-top: 2rem; /* Ajuste o valor conforme necessário */
    }
    
    .row {
        margin-bottom: 1rem; /* Espaçamento entre linhas, se necessário */
    }
    
    .form-group {
        margin-bottom: 1rem; /* Espaçamento entre campos do formulário */
    }
    
    .col-md-8{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    .search-bar {
        margin-bottom: 20px;
    }

    .input-group .form-control {
        border-radius: 0;
    }

    .input-group .btn {
        border-radius: 0;
    }
    
    .search-container {
        margin-bottom: 20px;
        text-align: center;
      }
      
      .search-input {
        width: 80%;
        padding: 10px;
        font-size: 16px;
      }
      
      .search-button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
      }

    

    .search-input {
        padding: 10px 20px;
        font-size: 16px;
        width: 600px;
        border: 2px solid #ccc;
        border-radius: 25px;
        outline: none;
        transition: border-color 0.3s;
        
    }

    /* Efeito de foco no input */
    .search-input:focus {
        border-color: #4A90E2; /* Cor azul */
    }

    /* Estilo do botão de busca */
    .search-button {
        background-color: #1F4172;
        color: white;
        font-size: 16px;
        border: none;
        border-radius: 25px;
        padding: 10px 20px;
        margin-left: 10px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
    }

    /* Efeito de hover no botão */
    .search-button:hover {
        background-color: #357ABD;
        transform: scale(1.05);
    }

    /* Efeito de foco no botão */
    .search-button:focus {
        outline: none;
    }
    
    .logout-button {
        background-color: #847776; /* Cor de fundo vermelha */
        color: white; /* Cor do texto branca */
        border: none; /* Remove a borda */
        padding: 10px 20px; /* Adiciona espaçamento interno */
        font-size: 15px; /* Define o tamanho da fonte */
        cursor: pointer; /* Muda o cursor para indicar que é clicável */
        border-radius: 5px; /* Adiciona bordas arredondadas */
        transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
        margin-top: 15px;
        transition: background-color 0.3s, transform 0.2s;
    }
    
    .logout-button:hover {
        background-color: #d32f2f; 
        transform: scale(1.05);
    }



    .custom-button {
        background-color: #1F4172;
        color: white; 
        padding: 10px 30px; 
        border: none; 
        border-radius: 50px; 
        font-size: 18px; 
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
        transition: background-color 0.3s ease, transform 0.3s ease; 
    }
    
    .custom-button:hover {
        background-color: #357ABD;
        transform: translateY(-2px); 
    }
    
    .custom-button:active {
        transform: translateY(2px); 
    }
    
    .col-md-6{
        margin-top: 50px;
    }

    .form-group{
        margin-top: 25px;
    }

    select {
        color: black;
    }
    
}
