
{% load static %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'biblioteca/style.css' %}">
<link href="fontawesome/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">

<!--Menu no topo-->

<body id="body-pd">
  <header class="header" id="header">
      <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>

      
  
      {% if user.is_authenticated %}
      Bem vindo(a) {{ user.username }}!
 
      {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">Log In</a>
      {% endif %}
      


      <a>  </a>

      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="logout-button">Sair</button>
      </form>
    

  </header>


  <!--Menu lateral-->
  <div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div>
            <a href="#" class="nav_logo">
                <img src="{% static 'biblioteca/images/logo.png' %}" alt="Logo" class="nav_logo-img">
                <span class="nav_logo-name">Transcience</span>
            </a>
            <div class="nav_list">
                <a href="#" class="nav_link active">
                    <i class='bx bx-grid-alt nav_icon'></i>
                    <span class="nav_name">Página inicial</span>
                </a>
                <a href="{% url 'perfil' %}" class="nav_link">
                  <i class="fa-solid fa-circle-user"></i>
                    <span class="nav_name">Meu perfil</span>
                </a>
                <a href="{% url 'biblioteca:minha_biblioteca' %}" class="nav_link">
                    <i class='bx bx-message-square-detail nav_icon'></i>
                    <span class="nav_name">Biblioteca</span>
                </a>

                <a href="{% url 'novoArtigo' %}" class="nav_link">
                  <i class='bx bx-bookmark nav_icon'></i>
                  <span class="nav_name"> + Adicionar artigo</span>
                </a>
            </div>
        </div>
        <a href="#" class="nav_link">
            <i class='bx bx-log-out nav_icon'></i>
            <span class="nav_name">Sobre nós</span>
            
        </a>
    </nav>
</div>

  
<div class="container-fluid">

  <div class="row">

    <!-- Coluna de Artigos -->
    <div class="col-lg-8 col-md-12">
      
      <div class="search-container">
        <form method="get" action="{% url 'biblioteca:index' %}">
          <input type="text" name="q" placeholder="Buscar por palavra-chave..." class="search-input" value="{{ request.GET.q }}">
          <button type="submit" class="search-button">Buscar</button>
        </form>
      </div>

      <div class="artigos-container">
        
        {% if artigos %}
        <ul>
          {% for a in artigos %}
              <li class="artigo-item" style="position: relative; padding-bottom: 30px;">
                  <a class="titulo-artigo" style="color: black;">
                      {{ a.titulo }}
                  </a>
              
                  <form action="{% url 'favoritar_artigo' a.id %}" method="post" class="favorite-form" id="favorite-form-{{ a.id }}">
                      {% csrf_token %}
                      <button type="submit" class="favorite-button" style="border: none; background: none; position: absolute; bottom: 5px; right: 5px;" id="favorite-btn-{{ a.id }}" onclick="toggleFavorite(event, {{ a.id }})">
                          {% if a in user.favorito_set.all %}
                              <i class="fas fa-heart" id="heart-{{ a.id }}" style="color: red; font-size: 18px;"></i>
                          {% else %}
                              <i class="far fa-heart" id="heart-{{ a.id }}" style="font-size: 18px;"></i>
                          {% endif %}
                      </button>
                  </form>
              
                  <p class="texto-menor" style="margin-top: 3px;">{{ a.autor }} <span style="margin-left: 5px;">({{ a.ano_id }})</span></p>
                  
                  <div style="display: flex; align-items: center; margin-top: 10px;">
                      <a class="texto-menor">Palavras-chave:</a>
                      <div class="palavras-chave-container" style="margin-left: 5px;">
                          {% for palavra_chave in a.palavras_chave.all %}
                              <span class="texto-menor" style="color: #1F4172;">{{ palavra_chave }}</span>
                          {% endfor %}
                      </div>
                  </div>
                  
                  <p class="texto-menor" style="margin-top: 10px;">
                      <a href="{{ a.link }}" target="_blank">> Ler Mais</a>
                  </p>
              </li>
          {% endfor %}
        </ul>
      
        {% else %}
          <p>Nenhum artigo encontrado para a pesquisa "{{ request.GET.q }}".</p>
        {% endif %}
      </div>
    </div>
    
    
    <div class="col-lg-4 col-md-12">
      <div class="additional-container">
        <div class="formteste">
        </div>
      </div>
    </div>

  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  function toggleFavorite(event, artigoId) {
      event.preventDefault(); // Impede o envio do formulário imediatamente

      const heartIcon = document.getElementById('heart-' + artigoId);
      const favoriteForm = document.getElementById('favorite-form-' + artigoId);

      // Verifica se o coração está favoritado (vermelho)
      const isFavorited = heartIcon.classList.contains('fas');

      // Alterna o ícone de coração
      if (isFavorited) {
          heartIcon.classList.remove('fas');
          heartIcon.classList.add('far');
          heartIcon.style.color = ''; // Reseta a cor para a cor padrão
      } else {
          heartIcon.classList.remove('far');
          heartIcon.classList.add('fas');
          heartIcon.style.color = 'red'; // Muda a cor para vermelho
      }

      // Envia a requisição AJAX para o servidor
      $.ajax({
          url: favoriteForm.action,  // URL do formulário
          type: 'POST',
          data: $(favoriteForm).serialize(),  // Dados do formulário (incluindo o CSRF token)
          success: function(response) {
              // A resposta do servidor pode ser usada aqui para realizar ações adicionais, se necessário
              console.log('Favorito atualizado com sucesso');
          },
          error: function(xhr, status, error) {
              console.error('Erro ao favoritar: ', error);
          }
      });
  }
</script>


 
